.page {
    padding: min(8vw, 10vh);
}

.heading {
    font-family: LexendExa-Medium, sans-serif;
    color: #334C1F;
    font-size: min(10vw, 7vh);
    font-weight: 600;
    letter-spacing: 0.3vw;
    margin-top: 3vh;
}

.text {
    font-family: LexendExa-Medium, sans-serif;
    width: min(80vw, 120vh);
    font-size: min(5vw, 3vh);
    line-height: min(8vw, 6vh);
    margin-top: min(3vw, 2.5vh);
}