.page {
    height: calc(100vh - min(10vw, 9vh));
    width: 100vw;
    background-color: #334C1F;
    padding: 5vw;
}

.heading {
    font-family: LexendExa-SemiBold, sans-serif;
    color: #E5E7DE;
    font-size: min(10vw, 10vh);
    font-weight: 900;
    letter-spacing: 0.3vw;
    margin-top: 10vh;
}

.subheading {
    font-family: LexendExa-Medium, sans-serif;
    color: #95AE3A;
    font-weight: 700;
    font-size: min(4.5vw, 3vh);
    margin-bottom: 12vh;
}

.link {
    display: flex;
    font-family: LexendExa-Medium, sans-serif;
    color: #E5E7DE;
    align-items: center;
    font-size: min(4.5vw, 3vh);
    font-weight: 700;
}

.arrow {
    width: min(9vw, 6vh);
    height: min(9vw, 6vh);
}