.button {
    background-color: #334C1F;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 20px;
    margin: 1vh 1vh;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.button:focus {
    background-color: #6E8C30;
}

.submit{
    position: absolute;
    bottom: 5vw;
    right: 5vw;
    background-color: #6E8C30;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.submit:disabled {
    background-color: #899a68;
    color: #e3e3e3;
}

.methods {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 5vh;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.claims {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.subheading{
    font-family: LexendExa-SemiBold, sans-serif;
    font-size: 2rem;
    color: #6E8C30;
    letter-spacing: min(0.1vw, 0.2vh);
    font-weight: 700;
    margin-left: 5%;
}