.background {
  position: absolute;
  bottom: 0;
  height: calc(99.8vh - min(10vw, 9vh));
  width: 99.8vw;
  z-index: 100;
  backdrop-filter: blur(10px);
}

.signUpFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.signUpForm {
  text-align: center;
  padding: 20px;
  background-color: #E5E7DE;
}
